<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <% if resource.password_set? %>
    <div class="row">
      <div class="col-xs-12">
        <%= f.input :current_password, wrapper: :input_group do %>
          <div class="input-group-addon"><%= fa_icon 'unlock-alt' %></div>
          <%= f.input_field :current_password, autocomplete: :off, placeholder: 'Current password', class: 'form-control' %>
        <% end %>
      </div>
    </div>

    <hr>
  <% else %>
    <div class="alert alert-warning" role="alert">
      <div class="alert-message">
        <%= fa_icon 'warning' %>
        Your account has no password associated with it! Please enter one now!
      </div>
    </div>
  <% end %>

  <div class="alert alert-info" role="alert">
    <div class="alert-message">
      <%= fa_icon 'info-circle' %>
      Your password must be at least 8 characters!
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= f.input :password, wrapper: :input_group do %>
        <div class="input-group-addon"><%= fa_icon 'key' %></div>
        <%= f.input_field :password, class: 'form-control', autocomplete: :off, placeholder: 'Enter password' %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= f.input :password_confirmation, wrapper: :input_group do %>
        <div class="input-group-addon"><%= fa_icon 'key' %></div>
        <%= f.input_field :password_confirmation, class: 'form-control', autocomplete: :off, placeholder: 'Enter password' %>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Update Password', class: 'btn btn-info' %>
  </div>
<% end %>
<hr>
