<article id="registrations-edit" class="container">
  <%= render 'shared/subnav' %>
  <%= render 'shared/record_errors', record: resource %>

  <section class="row">
    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= fa_icon 'user' %>
            Change Info
          </h3>
        </div>
        <div class="panel-body">
          <%= render 'edit_form' %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= fa_icon 'lock' %>
            Change Login
          </h3>
        </div>
        <div class="panel-body">
          <%= render 'password_form' if @presenter.show_password_change? %>
          <%= render 'manage_identities' %>
        </div>
      </div>
    </div>
  </section>
</article>
