<div class="row text-center">
  <div class="col-xs-12 col-sm-3">
    <% if @last_transfer.present? %>
      <h4>Last Transfer</h4>
      <h2><%= humanized_money_with_symbol(@last_transfer.net.abs) %></h2>
    <% else %>
      <div class="alert alert-danger" role="alert">
        <%= fa_icon 'exclamation-circle' %>
        <strong>Error:</strong>
        Transfer information has not been imported from Stripe!
      </div>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-3">
    <% if @balance.present? %>
      <h4>Amount Pending</h4>
      <h2><%= humanized_money_with_symbol(@balance.amount_pending) %></h2>
    <% else %>
      <div class="alert alert-danger" role="alert">
        <%= fa_icon 'exclamation-circle' %>
        <strong>Error:</strong>
        Balance information has not been imported from Stripe!
      </div>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-3">
    <h4>Net Volume</h4>
    <h2><%= humanized_money_with_symbol(@net_volume) %></h2>
  </div>
  <div class="col-xs-12 col-sm-3">
    <h4>Total Fees</h4>
    <h2><%= humanized_money_with_symbol(@total_fees) %></h2>
  </div>
</div>
