<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#header-nav" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <ul class="nav pull-right">
        <li class="pull-left">
          <% if admin? %>
            <%= link_to ENV['SITE_NAME'], root_path, class: 'nav-link' %>
          <% else %>
            <p class="navbar-btn">
              <%#= link_to 'BOOK YOUR TICKET NOW', bookings_path, class: 'track-booking btn btn-primary-alt btn-xs' %>
            </p>
          <% end %>
        </li>

        <%= render 'shared/user_profile' %>
      </ul>
    </div>

    <nav id="header-nav" class="collapse navbar-collapse navbar-left">
      <ul class="nav navbar-nav">
        <% if admin? %>
          <%= render 'shared/admin_nav' %>
        <% elsif user_signed_in? %>
          <%= render 'shared/user_nav' %>
        <% else %>
          <%= render 'shared/site_nav' %>
        <% end %>
      </ul>
    </nav>
  </div>

  <hr>
</header>

<div id="header-spacer"></div>
