<section id="welcome-index" class="container text-center">
  <% cache do %>
    <%= render 'header' %>
    <%= render 'about' %>
    <%= render 'experience' %>
    <%= render 'life' %>
    <%= render 'news' %>
    <%= render 'instagram' %>
  <% end %>
</section>
