<h4 class="title">Using your account</h4>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="col-xs-12">
      <%= f.input :email, wrapper: :input_group do %>
        <div class="input-group-addon"><%= fa_icon 'envelope' %></div>
        <%= f.input_field :email, placeholder: 'Email address', class: 'form-control' %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= f.input :password, wrapper: :input_group do %>
        <div class="input-group-addon"><%= fa_icon 'key' %></div>
        <%= f.input_field :password, class: 'form-control', autocomplete: :off, placeholder: 'Enter password' %>
      <% end %>
    </div>
  </div>

  <% if devise_mapping.recoverable? %>
    <p><%= link_to 'Forgot your password?', new_password_path(resource_name) %></p>
  <% end %>

  <% if devise_mapping.rememberable? %>
    <div class="checkbox">
      <%= f.label :remember_me do %>
        <%= f.check_box :remember_me %>
        Remember me
      <% end %>
    </div>
  <% end %>

  <hr>

  <div class="actions">
    <%= f.submit 'Log in', class: 'btn btn-primary' %>
    <%= link_to 'Create account', new_registration_path(resource_name), class: 'btn' if devise_mapping.registerable? %>
  </div>
<% end %>
