<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= "#{@title} | " if @title %>
      Admin
    </title>
    <%= stylesheet_link_tag 'admin', media: 'all' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= csrf_meta_tags %>
  </head>
  <body lang="en">
    <%= render 'shared/header' %>
    <%= render 'shared/flash_messages' %>

    <main role="main">
      <%= yield %>
    </main>

    <%= javascript_include_tag 'admin' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.4.2/Sortable.min.js' %>
  </body>
</html>
