<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= render 'shared/page_header' %>
    <%= render 'shared/facebook' %>
  </head>
  <body lang="en" class="<%= body_class %>">
    <%= render 'shared/header' if page_header? %>
    <%= render 'shared/flash_messages' %>

    <script>window.railsEnv = '<%= Rails.env %>';</script>

    <main role="main">
      <%= yield %>
    </main>

    <%= render 'shared/footer' %>

    <%= javascript_include_tag 'application' %>
    <%= render 'shared/analytics' %>
    <%= content_for(:page_specific_scripts) if content_for?(:page_specific_scripts) %>
  </body>
</html>
